/*
 * spa.css
 * Root namespace styles
*/

/** Begin reset */
  * {
    margin  : 0;
    padding : 0;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
  }
  h1,h2,h3,h4,h5,h6,p { margin-bottom : 10px; }
  ol,ul,dl { list-style-position : inside;}
/** End reset */

/** Begin standard selectors */
/** End standard selectors */

/** Begin spa namespace selectors */
  #spa {
    /*position : absolute;*/
    top      : 0px;
    left     : 0px;
    bottom   : 30px;
    right    : 0px;

    /*min-height : 500px;
    min-width  : 500px;*/
    /*overflow   : auto;*/

    background-color : #fff;
    /*border-radius    : 0 8px 0 8px;*/
  }
/** End spa namespace selectors */

/** Begin utility selectors */
  .spa-x-select {}
  .spa-x-clearfloat {
    height     : 0      !important;
    float      : none   !important;
    visibility : hidden !important;
    clear      : both   !important;
  }
/** End utility selectors */